doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title TOP
    body
        if !user
            form(action="/login" method="post")
                table
                    tr
                        td
                            span ID:
                        td
                            input(type="text" name="id")
                    tr
                        td
                            span PASS:
                        td
                            input(type="password" name="password")
                    tr
                        td
                        td
                            input(type="submit" value="login")

            span demo users: taro, jiro, saburo, hanako, yuri
        if user
            span ようこそ
            span= user.name
            br
            a(href="/chat") chat
            br
            a(href="/logout") logout